.brand {
color:#000;
font-weight: bold;
margin-left: 4em;
font-size:2em;
}

.img-fluid{
margin-left: 10em;
}

.subcategory{
margin-top: 20px;
}
.subcat-item{
padding-bottom: 1em;
}
.btn{
margin: 5px 20px ;
border-radius: 15px;
border: 1px solid #000;
}

.active, .btn:hover {
background-color: #ff0000;
color: white;
} 

.navbar-default {
border-color:  #000;
border-radius:0;
}

.breadcrumbs > a{
text-decoration: underline;
}

.footer {
clear: both;
flex: 0 0 auto;
width: 100%;
text-align: right;
margin-top:5em;
padding-right: 3em;
}


.productid{
margin-top: 15%;
} 

.center-block{
margin-top:10%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.item-price{
margin-top:0.75em;
}
.item-description{
overflow: hidden;
height: 8em;
}

.search-field, .login-field{
margin:1em 2em;

}
.login-field-text{
font-size:1.25em;
color:#fff;
}

.maincontent{
padding-top:1em;
margin-top: 2em;
min-height: calc(100vh - 9em);
height: 100%;
}

.item-div{
padding: 1em;
}

.loginmodal-container {
padding: 30px;
max-width: 350px;
width: 100% !important;
background-color: #F7F7F7;
margin: 0 auto;
border-radius: 2px;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
overflow: hidden;
font-family: roboto;
}

.loginmodal-container h1 {
text-align: center;
font-size: 1.8em;
font-family: roboto;
}

.loginmodal-container input[type=submit] {
width: 100%;
display: block;
margin-bottom: 10px;
position: relative;
}

.loginmodal-container input[type=text], input[type=password],input[type=email] {
height: 44px;
font-size: 16px;
width: 100%;
margin-bottom: 10px;
-webkit-appearance: none;
background: #fff;
border: 1px solid #d9d9d9;
border-top: 1px solid #c0c0c0;
/* border-radius: 2px; */
padding: 0 8px;
box-sizing: border-box;
-moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
border: 1px solid #b9b9b9;
border-top: 1px solid #a0a0a0;
-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
text-align: center;
font-size: 14px;
font-family: 'Arial', sans-serif;
font-weight: 700;
height: 36px;
padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
user-select: none; */
}

.loginmodal-submit {
/* border: 1px solid #3079ed; */
border: 0px;
color: #fff;
text-shadow: 0 1px rgba(0,0,0,0.1); 
background-color: #4d90fe;
padding: 17px 0px;
font-family: roboto;
font-size: 14px;
}

.loginmodal-submit:hover {
border: 0px;
text-shadow: 0 1px rgba(0,0,0,0.3);
background-color: #357ae8;
}

.loginmodal-container a {
text-decoration: none;
color: #666;
font-weight: 400;
text-align: center;
display: inline-block;
opacity: 0.6;
transition: opacity ease 0.5s;
} 

.login-help{
font-size: 12px;
}

.itemimg{
width: auto !important; 
height: 195px !important;
margin: 0 auto 1em auto;
}

.profile-img{
font-size: 10em;
margin:0.25em 0.5em; 
}

.cart-items-count{
position:relative;
display:flex;
text-align:center;
justify-content: center;
top:-6em;
right:-12em;
}

.notification-counter {   
position: absolute;
left: 8px;
background-color: #337ab7;
color: #fff;
border-radius: 100%;
padding: 1px 3px;
font-size: 3em;
}

.list-body{
padding:2em;    
}