<div class="col-md-10 col-md-offset-1 maincontent panel panel-default">
    <div class=col-md-6 col-md-offset-2>
        <% if (typeof(cartList[0])=="undefined"){%>
            <h1>There is no items in cart yet</h1>
        <% } %>
        <% cartList.forEach(function(element) {%>
            <div class="panel panel-default panel-body px-2">
                <div class="row panel-heading">
                   <h3> <%=element.name%> <span class="pull-right"><%= element.price %> $</span></h3>

                </div>

                <div class="list-body row">
                    <div class="col-md-4">
                        <image class="img-responsive itemimg" src="/images/<%= element.image%>"></image>
                    </div>
                    <div>
                        <h3>
                            <%- element.description %>
                        </h3>
                    </div>
                </div>
                <div class="row pull-right">
                    <a href="/deletefromcart/?user=<%=user[0].username %>&product_id=<%=element.id%>" class="btn" role="button">Delete item</a>
                </div>
            </div>
            <% });%>
    </div>
    <div class="col-md-2 panel panel-default panel-body text-center">
        <h1 class="list-heading">
        Your cart total:</h1>
        
            <h3><%= total %>$</h3>
        <a href="/total" class="btn" role="button">Buy now!</a>
    </div>
</div>