<div class="col-md-10 col-md-offset-2 breadcrumbs">
    <!-- breadcrumbs -->
    <a href="/">Home</a> /
</div>
<!-- breadcrumbs-->
<div class="col-md-10 col-md-offset-1 maincontent panel panel-default">
    <div class="maincategory panel panel-default">
        <!-- setup main category data -->
        <h1 class="panel-heading">
            <p class="text-danger"><%= allCategories[0].page_title%></p>
        </h1>
        <p class="panel-body">
            <%= allCategories[0].page_description%>
        </p>
    </div>
    <!-- setup subcategory data-->
    
    <% allCategories[0].categories.forEach( function(subCategory) { %>
        <div class="panel panel-default">
        <h2 class="panel-heading">
            <p class="text-danger"><%= subCategory.page_title %></p>
        </h2>
        <div class="subcategory panel-body text-center">
            <img class="img-fluid" src="/images/<%= subCategory.image%>" onerror="this.src='/images/categories/no-category.jpg'"></img>
            <p>
                <%= subCategory.page_description %>
            </p>
            <a href="/category/<%=subCategory.parent_category_id %>/<%=subCategory.id %>" class="btn" role="button">View Subcategory</a>
        </div>
        </div>
        <% }); %>
</div>
</div>