<div class="col-md-10 col-md-offset-1 maincontent">
    <div class=col-md-8 col-md-offset-2>

        <h1>Orders for
            <%= locals.user[0].first_name%>
                <%= locals.user[0].last_name%>
        </h1>

        <% orders.forEach(function(element) {%>
            <div class="panel panel-default">
                <div>
                    <div class="panel-heading">Date -
                        <%= element.date %>
                    </div>
                    <div class="panel-body">
                        <p>Items:</p>
                        <% element.items.forEach(function(itemsElement){%>
                            <p>
                                <%= itemsElement.name %>
                            </p>
                            <% });%>
                    </div>
                    <div class="panel-footer">
                        <p>Total:
                            <%= element.total%>USD</p>
                    </div>
                </div>
            </div>
            <% });%>
    </div>
</div>