<div class="col-md-10 col-md-offset-2 breadcrumbs">
    <!-- breadcrumbs -->
    <a href="/">Home</a> /
    <a href="/products/<%= productData.primary_category_id %>">
        <%= productData.primary_category_id.replace(/-/g," ") %>
    </a> /
    <a href="/products/<%= productData.primary_category_id %>/<%= productData.id %>">
        <%= productData.name %>
    </a>
</div>
<!-- breadcrumbs-->

<div class="col-md-10 col-md-offset-1 maincontent ">
    <div class="item-div row center-block panel panel-default">
        <div class="col-md-4">
            <img src="/images/<%=bigImageData.link%>" alt="<%= bigImageData.alt %>"></img>
        </div>
        <div class="col-md-4">
            <h1>
               <span id="productname"> <%= productData.name %></span>
            </h1>
            <%- productData.long_description %>
                <div class="row">
                    <%if (typeof(user)!="undefined"){%>
                        <input type="button" class="btn" value="Buy now" onclick="location.href='/addtocart/?user=<%=user[0].username%>&product_id=<%= productData.id%>&type=cart';" />
                        <input type="button" class="btn" value="Add to wishlist" onclick="location.href='/addtocart/?user=<%=user[0].username%>&product_id=<%= productData.id%>&type=wishlist';" />
                        <% }%>
                            <div class="pull-right">
                                <p class="item-price">Price: <span id="price"><%= productData.price %></span>

                                    <select id="mySelect" onchange="currencyConverter(this)">
<% CURRENCY.forEach( function(currencyPair) { %>
<option value=<%= (CURRENCY[0].value*productData.price /currencyPair.value).toFixed(2) %>><%= currencyPair.cur%></option> </p>
<% });%>
</select>
                            </div>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#reviews"> Reviews </button>
                </div>
        </div>
    </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="reviews" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title col-md-8" id="exampleModalLongTitle">Reviews:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
                </div>
                <div class="modal-body">
                    <%if ((typeof(reviewsForItem) === "undefined")||(Object.keys(reviewsForItem).length === 0)){ %>
                        <p>There is no reviews for this item</p>
                        <% }else{ %>
                            <% reviewsForItem.forEach(function(reviewItem){%>
                                <div class="panel panel-body">
                                    <p> User:
                                        <%= reviewItem.username %>
                                            <p>
                                                <p> Review title:
                                                    <%= reviewItem.reviewTitle %>
                                                        <p>
                                                            <p>
                                                                <%= reviewItem.reviewContent %>
                                                                    <p>
                                                                        <input class="input-3" value="<%= reviewItem.rating %>" data-size="md">
                                </div>
                                <br/>
                                <% });}%>
                </div>
                <div class="modal-footer">
                    <%if (typeof(user)!="undefined"){%>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-review"> Add review </button>
                        <% } %>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="add-review" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title col-md-8" id="modalLabel">New review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="hidden" name="item_id" value="<%= productData.id %>">
                            <label for="review-title" class="col-form-label">Review title:</label>
                            <input type="text" name="reviewTitle" class="form-control">
                        </div>
                        <div class="form-group">
                            <input id="input-21f" value="0" name="rating" type="text" data-min=0 data-max=5 data-step=0.1 data-size="md" title="">
                            <label for="message-text" class="col-form-label">Review content:</label>
                            <textarea class="form-control" name="reviewContent" id="message-text"></textarea>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" formaction="/addreview" class="btn btn-primary">Add review</button>
                    </form>
                </div>
            </div>
        </div>
    </div>