   <div class="col-md-10 col-md-offset-2 breadcrumbs"> <!-- breadcrumbs -->
        <% if (typeof(MESSAGE) == "undefined"){%>
        <a href="/">Home</a> / <a href="/products/<%= allProducts[0].primary_category_id %>"><%= allProducts[0].primary_category_id.replace(/-/g," "); %></a>
        <% }else{%>
        <h2><%= MESSAGE %></h2>
        <% };%>
    </div> <!-- breadcrumbs-->

    <div class="col-md-10 col-md-offset-1 maincontent panel panel-default">

        <% allProducts.forEach(function(product,index){ %>

        <div class="subcat-item col-md-6 shadow-lg p-4 mb-4 bg-white panel panel-default ">
                <h4 class="panel-heading"> <%= product.name%> </h4>
                <div class="col-md-6">
                    <div class="item col-md-6">
                        <img src="/images/<%= product.image_groups[mediumImageIndex[index]].images[0].link %>" alt=<%= product.image_groups[mediumImageIndex[index]].images[0].alt %> ></img>
                    </div>
                </div>
            <div class="col-md-6">
                <div class="item-description">
                    <p><%- product.short_description%></p>
                </div>
            <div class="row item-price">
                Price: <%= product.price%> <%=product.currency%>
                <a href="/products/<%=product.primary_category_id %>/<%=product.id %>" class="btn" role="button">More information</a>
            </div>
            </div>
        </div>

        <% });%>

    </div> 