<div class="col-md-10 col-md-offset-1 maincontent">
    <% if (message != ''){%>
        <div>
            <h1 class="text-center text-danger">
                <%= message%>
            </h1>
        </div>
        <% } %>
            <div class="container">
                <form action="/register/">
                    <div class="form-group">
                        <input type="text" name="username" class="form-control input-sm" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="text" name="first_name" class="form-control input-sm" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <input type="text" name="last_name" class="form-control input-sm" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control input-sm" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
                    </div>
                    <div id="errorMsg"></div>
                    <input type="submit" value="Register" class="btn btn-info">
                </form>

            </div>
            <!-- container -->
</div>