<div class="col-md-10 col-md-offset-2 breadcrumbs">
    <!-- breadcrumbs -->
    <a href="/">Home</a> /
    <a href="/category/<%= allCategories.parent_category_id %>/<%= allCategories.id %>">
        <%= allCategories.name %>
    </a>
</div>
<!-- breadcrumbs-->

<div class="col-md-10 col-md-offset-1 maincontent panel panel-default">
    <div class="maincategory panel panel-default">

        <h1 class="panel-heading">
            <p class="text-danger "><%= allCategories.page_title%></p>
        </h1>
        <p class="panel-body">
            <%= allCategories.page_description%>
        </p>
    </div>

    <% allCategories.categories.forEach( function(subCategory) { %>
        <div class="panel panel-default">
        <h2 class="panel-heading">
            <p class="text-danger"><%= subCategory.page_title %></p>
        </h2>
        <div class="subcategory text-center">
            <img class="img-fluid" src="/images/<%= subCategory.image%>" onerror="this.src='/images/categories/no-category.jpg'"></img>
            <h4>
                <%= subCategory.page_description %>
            </h4>

            <a href="/products/<%=subCategory.id %>" class="btn" role="button">View Products</a>

        </div>
        </div>
        <% }); %>
</div>