<div class="col-md-10 col-md-offset-1 maincontent panel panel-default">
    <div class=col-md-8 col-md-offset-2 panel panel-body>
        <% if (typeof(wishList[0])=="undefined"){%>
            <h1>There is no items in wishlist yet</h1>
        <% } %>
        <% wishList.forEach(function(element) {%>
            <div class="panel panel-default panel-body list-body">
                <div class="row panel-heading">
                    <h1><%=element.name%></h1>
                </div>
                <div class="row list-body">
                    <div class="col-md-4">
                        <image class="img-responsive itemimg" src="/images/<%= element.image%>"></image>
                    </div>
                    <div>
                        <h3>
                            <%- element.description %>
                        </h3>
                    </div>
                </div>
                <div class="row pull-right">
                    <a href="/addtocart/?user=<%=user[0].username%>&product_id=<%= element.id%>&action=wishtocart" class="btn" role="button">Wish to cart</a>
                    <a href="/deletefromwishlist/?user=<%=user[0].username %>&product_id=<%=element.id%>" class="btn" role="button">Delete item</a>
                </div>
            </div>
            <% });%>
    </div>
</div>