<!-- connect bootstrap and stylesheets -->
<title>
    <%=siteTitle %> -
        <%= pageTitle %>
</title>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/style.css">
<link href="/stylesheets/star-rating.css" media="all" rel="stylesheet" type="text/css" />