<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><%=siteTitle %></a>
            </div>
            <ul class="nav navbar-nav">
                <!-- get categoryButtons from controller and for each element create button-->
                <%  if (typeof categoryButtons != "undefined"){%>
                <% categoryButtons.forEach(function(item) { %>                
                <li> <a href='/category/<%= item.id %>';"><%= item.name %></a>
                </li>    
                <% });} %>  
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="search-field" action="javascript:search()"> 
                        <div>
                            <input type="search" id="mySearch"placeholder="Search on site..."</input>
                            <input type="submit" value="Search" /> 
                        </div>
                    </form>
                </li>
                <% if (typeof user == "undefined"){%>
                <li><a href="#" data-toggle="modal" data-target="#login-modal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <%}else{%>
                <li class= "login-field text-white"><span class="login-field-text">Hello, <%= user[0].first_name %></span></li>  
                <li><a href="#" data-toggle="modal" data-target="#profile_modal" ><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                <%}%>
            </ul>
        </div>
    </nav>
</header>

<% if (typeof(user) == "undefined"){ %>
<!-- Login Modal Form -->

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Log in to Your Account</h1><br>
            <form action="/login" method="post">
                <input type="text" name="user" placeholder="Username">
                <input type="password" name="pass" placeholder="Password">
                <input type="submit" class="login loginmodal-submit" value="Login">
            </form>
            <div class="login-help">
                <a href="/register">Register</a> - <a href="#" data-toggle="modal" data-target="#email-recovery">Forgot Password</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="email-recovery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content loginmodal-container">
            <div class="modal-header">
                <h5 class="modal-title">Enter your email</h5>
            </div>
            <form action="/recovery">
                <input type="email" name="email" class="" placeholder="Email Address">
                <input type="submit" class="login loginmodal-submit" value="Send password">
            </form>
        </div>
    </div>
</div>


<!-- User Profile Modal -->

<% }else{ %>
    <div class="modal fade" id="profile_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title col-md-8" id="exampleModalLabel">User Profile</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
</button>
                </div>

                <div class="modal-body">
                    <p>User:
                        <%= user[0].first_name %> <%= user[0].last_name %>
                    </p>
                    <p>Email:
                        <%= user[0].email %>
                    </p>
                    <% if(user[0].verified){%>
                        <p>Verified</p>
                        <% }else{%>
                            <p>Email not verified, please,</p><a href="/verify/?email=<%= user[0].email%>">verify</a>
                            <% }%>
                                <p><a href="/orders">Order history</a></p>
                                <p>Registered:
                                    <%=user[0].registered %>
                                </p>
                </div>
                <div class="modal-footer">
                    <div class="col-md-6 text-center">
                        <a href="/cart"><span class="glyphicon glyphicon-shopping-cart profile-img"></span></a>
                        <span class="cart-items-count"><span class=" notification-counter"><%= (typeof(listItems)!="undefined" && Object.keys(listItems).length != 0 && (listItems.findIndex(x => x.state === 'cart') !=-1)) ? listItems[listItems.findIndex(x => x.state === 'cart')].numberOfItems : 0%></span></span>
                        <p class="lead">Shopping cart</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <a href="/wishlist"><span class="glyphicon glyphicon glyphicon-list-alt profile-img"></span></a>
                        <span class="cart-items-count"><span class=" notification-counter"><%= (typeof(listItems)!="undefined" && Object.keys(listItems).length != 0 && (listItems.findIndex(x => x.state === 'wishlist') !=-1)) ? listItems[listItems.findIndex(x => x.state === 'wishlist')].numberOfItems : 0%></span></span>
                        <p class="lead">Wishlist</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% };%>