<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="/reload/reload.js"></script>
<script src="/javascripts/function.js"></script>
<% if (pageID=="product"){%>
    <script src="/javascripts/currency.js"></script>
    <% };%>
        <script src="/javascripts/star-rating.js" type="text/javascript"></script>