<!DOCTYPE html>
<html>

<head>
    <% include partials/template/head.ejs %>
</head>
<!-- connect head partial-->

<body id="<%= pageID %>">

    <% include partials/template/header.ejs %>
        <!-- connect header partial-->

        <% include partials/content/wishlist.ejs %>
            <!-- connect category partial-->

            <% include partials/template/footer.ejs %>
                <!-- connect footer partial-->
                <% include partials/template/jsdefaults.ejs %>
                    <!-- connecting scripts-->
</body>

</html>